<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />

    <link rel="canonical" href="{{ canonical_url }}" />

    <title>{{ page_title }}</title>

    {% include 'head-meta-socials' %}

    {% include 'head-favicons' %}

    {{ 'vendor.css' | asset_url | stylesheet_tag }}

    {{ 'styles/css-variables.scss.css' | asset_url | stylesheet_tag }}
    {{ 'styles/password.scss.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}
  </head>

  <body class="body">
    {% include 'ie-support' %}

    <div class="password">
      {{ content_for_layout }}
    </div>

    {% include 'theme-js-data' %}

    {{ 'theme.js' | asset_url | script_tag }}

    {{ content_for_footer }}
  </body>
</html>
